<html lang = "eng">

    <body>
            <%- include partials/_header.ejs%>
        <table>
<!--
property represents the keys in URLdatabase, urls is the database
-->
        <% for(let property in urls){ %>
            <tr>
                <td><%= property %></td>
                <td>><%= urls[property] %></td>
                <!-- <form method="POST" action="/urls/<%=property%>/edit"> -->
                    <td><a href="/urls/<%=property%>">Edit</a></td>
                <!-- </form> -->
                <form method="POST" action="/urls/<%=property%>/delete">
                    <td><button type="submit">Delete</button></td>
                </form>
            </tr>

        </form>
       <% } %>
        
       </table>
    </body>
</html>


